node_modules/
dist/
*.tsbuildinfo
.DS_Store
.vercel
_site/
scripts/smoke/*-main/
scripts/memory/project/src/pages/
*.log
package-lock.json
.turbo/
.eslintcache
.pnpm-store

/.vscode/settings.json

*.env

packages/astro/src/**/*.prebuilt.ts
!packages/astro/vendor/vite/dist
packages/integrations/**/.netlify/

.idea

packages/**/test/**/fixtures/**/.astro/
packages/**/test/**/fixtures/**/env.d.ts