@font-face {
    font-family: 'MonoLisaCustom-Medium';
    src: url('/fonts/MonoLisaCustom-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

main {
    font-family: 'MonoLisaCustom-Medium';
}