:root {
	--primary: #ffffff;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	background: radial-gradient(ellipse at bottom, #568cf1 0%, #243b66 100%);
}

.dps-welcome {
    position: relative;
}

.dps-dynamic-span {
	--scaler: 20vw;
	font-family: "Moderat", sans-serif;
	font-weight: 900;
	color: var(--primary);
	background-image: url("../images/minimal-bck.jpg");
	background-size: auto 200%;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: dps-kframe 5s linear infinite;

	@keyframes dps-kframe {
		0% {
			background-position: center 0;
		}
		100% {
			background-position: center 200%;
		}
	}
}

.dps-welcome-title {
	font-size: 180px;	
}

.dps-welcome-subtitle {
	font-size: 60px;	
}

.dps-welcome-pages {
	padding-top: 0rem;
	padding-left: 5rem;
}

.dps-row {
    padding: 3rem;
}

.dps-normal-color-text {
    --tw-text-opacity: 1;
    font-family: "Moderat", sans-serif;
    color: rgba(191, 219, 254, var(--tw-text-opacity));
    text-align: center;
}

.dps-bold-color-text {
    --tw-text-opacity: 1;
    font-family: "Moderat", sans-serif;
    color: rgba(239, 246, 255, var(--tw-text-opacity));
}

.dps-anchor {
    text-decoration: none;
}

.font-extrabold {
    font-weight: 800;
}

@media only screen and (max-width: 1280px) {
    .dps-welcome-title {
        font-size: 90px;	
    }
    
    .dps-welcome-subtitle {
        font-size: 30px;	
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dps-welcome-title {
        font-size: 30px;
        padding-left: 5rem;	
    }
    
    .dps-welcome-subtitle {
        font-size: 20px;	
    }

    .dps-normal-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .dps-welcome-title {
        padding-left: 3.5rem;
        padding-top: 0rem;
    }

    .dps-row {
        padding: 0;
        
    }

    .dps-hi {
        padding-left: 3rem;
    }

    .dps-saragossa {
        visibility: hidden;
    }
}
