---
import '../styles/global.css';

import Layout from "../layouts/Layout.astro";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Separator from '../components/Separator.astro';
import LittleSeparator from '../components/LittleSeparator.astro';

---

<Layout title="About me - @danisanga">
    
    <Header />

    <Separator />

    <main>
		<h2>I'm <span class="text-gradient"><i>Dani Sanchez</i></span>, 
            a Software developer from Spain</h2>
		
        <LittleSeparator />

		<section>
            For the last 5 years, I have been programming in 
            <span class="text-gradient">Java <i>(Spring + backend stuff)</i></span> but 
            <br/>
            I don't identify myself with a specific technology or language. That depends on the problem that needs to be solved.
            <br/><br/>
            Currently, I'm working at <span class="text-gradient"><i>e2y</i></span> 
            as a Software developer creating e-commerce sites with <span class="text-gradient"><i>SAP Commerce Cloud</i></span>.
            <br/><br/>
            On the personal side, I love food, motorcycles and reading books (especially about data structures, algorithms, design systems and other software stuff).
            <br/>
            Feel free to follow me on <b>GitHub</b> or contact me on <b>LinkedIn</b>.
		</section>
	</main>

    <Separator />

    <Footer />
    
</Layout>

<style>
    main {
        margin: auto;
        padding: 6rem;
        max-width: 80ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    h2 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
