---
import '../styles/global.css';

import Layout from "../layouts/Layout.astro";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Separator from '../components/Separator.astro';
import LittleSeparator from '../components/LittleSeparator.astro';

---

<Layout title="Books - @danisanga">
    
    <Header />

    <Separator />

    <main>
		<h2>Books!</h2>
		
        <LittleSeparator />

	</main>

    <Separator />

    <Footer />
    
</Layout>
