---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Separator from "../components/Separator.astro";
import LittleSeparator from "../components/LittleSeparator.astro";
---

<Layout title="Home - @danisanga">
	<Header />

	<Separator />

	<main>
		<div class="ball" id="draggableBall"></div>

		<div>
			<h1 class="greeting-dps">Hi!</h1>
			<h2 class="greeting-medium-dps">I'm</h2>
			<h1 class="greeting-sepecial-dps">Dani Sanchez</h1>
		</div>

		<h2 class="subtitle-dps">
			Backend Software engineer from Spain.
		</h2>

		<LittleSeparator />

		<section>
			<p>
				Feel free to check my <a class="a-simple-dps" href="/blog/"
					>tech articles</a
				> and <a class="a-simple-dps" href="#"
					>recommended books (comming soon)</a
				>!
			</p>
		</section>
	</main>

	<Separator />

	<Footer />

	<script>
		import "../scripts/rocket.js";
	</script>
</Layout>

<style>
	main {
		margin: auto;
		padding: 6rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.greeting-dps {
		font-size: 6rem;
	}
	.greeting-medium-dps {
		font-size: 4rem;
	}
	h2 {
		font-size: 2rem;
		font-weight: 800;
		margin: 0;
	}
	.greeting-sepecial-dps {
		font-size: 5rem;
	}
	.subtitle-dps {
		padding-top: 3rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.ball {
		width: 350px;
		aspect-ratio: 1;
		background: #fdcc82;
		border-radius: 100%;
		position: absolute;
		z-index: -1;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.a-simple-dps {
		font-family: "MonoLisaCustom-Medium";
		text-decoration: underline;
		color: #222;
	}
	.a-simple-dps:hover {
		background-color: #fcd499;
		border-radius: 3rem;
	}
</style>
