---
const { url, title, pubDate } = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedPubDate = new Date(pubDate).toLocaleDateString(
	"en-US",
	dateOptions
);
---

<li><a class="article-dps-a" href={url}>{`${title} (${formattedPubDate})`}</a></li>

<style>
    li {
        padding: 1rem;
    }
    .article-dps-a {
        text-decoration: none;
        color: #222;
    }
</style>