---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    nav {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        margin: auto;
		max-width: 60ch;
    }
</style>
