---
---
<a class="a-dps" href="/">Home</a>
<a class="a-dps" href="/about/">About</a>
<a class="a-dps" href="/blog/">Articles</a>

<style>
    a {
        margin: auto;
		padding-left: 2rem;
        padding-right: 2rem;
		max-width: 60ch;
    }
    .a-dps {
        font-family: 'MonoLisaCustom-Medium';
        font-weight: 900;
        font-size: large;
        text-decoration: none;
        color: #222;
    }
    .a-dps:hover {
        background-color: #fdcc82;
        border-radius: 3rem;
    }
</style>