---
---

<div class="separator-main-dps">
    <div class="separator-m-dps"></div>
    <div class="separator-sm-dps"></div>
</div>

<style>
    .separator-m-dps {
        border-top: 5px solid #fcb955;
    }
    .separator-sm-dps {
        border-top: 5px solid #fdcc82;
    }
</style>
